name: go

on:
  push:
    branches:
      - "master"
    tags:
      - "v*"
  pull_request:

permissions:
  contents: write # needed to write releases
  id-token: write # needed for keyless signing
  attestations: write # needed for provenance

jobs:
  go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version: "1.24"

      - name: Debug GH
        env:
          REV_BEFORE: ${{ github.event.pull_request.base.sha || github.base_ref }}
          BEFORE_SHA: ${{ github.event.pull_request.base.sha || github.base_ref || github.event.before }}
          AFTER_SHA: ${{ github.sha }}
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: env

      - name: Build
        run: go build -v ./cmd/vanity-ssh-keygen/

      - name: Test
        run: go test -v ./...

      - name: Generate Readme
        run: |
          ./update-readme.sh
          # If there's a diff in README.md then fail.
          if ! git diff --exit-code README.md; then
            echo "README.md is out of date. Please run ./update-readme.sh to update it."
            exit 1
          fi

      - name: Smoke Test
        # Run smoke test to ensure the binary works as expected.
        timeout-minutes: 1
        run: |
          # Run with metrics to make sure semver version compatibility.
          go run ./cmd/vanity-ssh-keygen --metrics x
          grep -i x x.pub

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        if: success() && startsWith(github.ref, 'refs/tags/v')
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB }}


      - name: Install Cosign
        uses: sigstore/cosign-installer@main
        if: success() && startsWith(github.ref, 'refs/tags/v')

      - name: Release
        uses: goreleaser/goreleaser-action@v6
        if: success() && startsWith(github.ref, 'refs/tags/v')
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          KO_DOCKER_REPO: docker.io/${{ secrets.DOCKERHUB_USERNAME }}/vanity-ssh-keygen

      - uses: actions/attest-build-provenance@v3
        if: success() && startsWith(github.ref, 'refs/tags/v')
        with:
          subject-checksums: ./dist/checksums.txt
